@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item.active {
  background-color: #4389cc !important;
  color: #fff !important;
}

.navbar {
  background: #4389cc;
}

.user-menu-link {
  color: #fff;
  padding-top: 5px;
}

.user-menu-link:hover {
  text-decoration: overline;
}

.btn-blue {
  background: rgba(67, 137, 204, 0.76) !important;
  color: #fff !important;
}

.btn-blue:hover {
  background: rgba(67, 137, 204, 0.94) !important;
  color: #fff !important;
}

.btn-outline-light > .user-display-name {
  color: #fff !important;
}

.btn-outline-light.active,
.btn-outline-light:hover,
.btn-outline-light:focus {
  color: #4389cc !important;
}

.btn-outline-light.active > .user-display-name.active,
.btn-outline-light:hover > .user-display-name,
.btn-outline-light:focus > .user-display-name:focus {
  color: #4389cc !important;
}

.btn-outline-light:hover > .user-avatar {
  border: 2px solid #4389cc !important;
}

.user-avatar {
  height: 50px;
  width: 50px;
  border: 2px solid white;
}